<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Forum</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
  <link rel="stylesheet" href="../Template/css/style.css" />
</head>

<body>
  <script src="../Template/Script/forum_data.js" type="module"></script>
  <script src="../Template/Script/register.js"></script>
  <script src="../Template/Script/login.js" type="module"></script>
  <script src="../Template/Script/logout.js"></script>
  <script src="../Template/Script/panel.js" type="module"></script>
  <script src="../Template/Script/chat.js" type="module"></script>
  <script src="../Template/Script/create_post.js"></script>
  <script src="../Template/Script/create_comment.js"></script>
  <script src="../Template/Script/likes_posts.js"></script>
  <script src="../Template/Script/likes_comments.js"></script>
  <script src="../Template/Script/post.js"></script>
</body>

</html>