<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Forum</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
  <link rel="stylesheet" href="../Template/css/style.css" />
</head>

<body>
  <noscript>
    <div id="no-script">
      <div>
        <img src="https://fingerprint.com/static/3948796e08117588ebc7c49ace3380d1/75fce/no-javascript-fingerprinting.jpg" alt="No JavaScript">
        <h1>JavaScript is Required</h1>
        <p>JavaScript is disabled in your browser. Please enable JavaScript for a better experience.</p>
      </div>
    </div>
  </noscript>
  <script src="../Template/Script/errors.js" type="module"></script>
  <script src="../Template/Script/forum_data.js" type="module"></script>
  <script src="../Template/Script/register.js" type="module"></script>
  <script src="../Template/Script/login.js" type="module"></script>
  <script src="../Template/Script/logout.js" type="module"></script>
  <script src="../Template/Script/panel.js" type="module"></script>
  <script src="../Template/Script/chat.js" type="module"></script>
  <script src="../Template/Script/create_post.js" type="module"></script>
  <script src="../Template/Script/create_comment.js" type="module"></script>
  <script src="../Template/Script/likes_posts.js" type="module"></script>
  <script src="../Template/Script/likes_comments.js" type="module"></script>
  <script src="../Template/Script/post.js" type="module"></script>
</body>

</html>